.homeicon{
    background-image: url("https://www.freeiconspng.com/minicovers/black-home-icon-11.png");
    background-position: center;
    background-repeat: no-repeat;
    
    position: relative;
  }